<!-- views/profile.ejs -->
extends layout

block content
	div.container
		.page-header.text-center
			h1
				span.fa.fa-anchor Profile Page
			a.btn.btn-default.btn-sm(href="/logout") Logout

		.row

			<!-- LOCAL INFORMATION -->
			.col-sm-6
				.well
					h3
						span.fa.fa-user 
						| Local
					p.break
						strong id
						|: #{user._id}
					p.break
						strong email
						|: #{user.local.email}
					p.break
						strong password
						|: #{user.local.password}
			.col-sm-6
				.well
					h3.text-primary
						span.fa.fa-facebook 
						|  Facebook
					if user.facebook.id
						p.break
							strong FBid
							|: #{user.facebook.id}
						p.break
							strong FBtoken
							|: #{user.facebook.token}
						p.break
							strong FBemail
							|: #{user.facebook.email}
						p.break
							strong FBname
							|: #{user.facebook.name}
						p.break
							a.btn.btn-primary(href="/unlink/facebook") Unlink
					else
						p.break You should connect your Facebook account.
						p.break
							a.btn.btn-primary(href="/connect/facebook") Connect Facebook
		.row
			.col-sm-6
				.well
					h3.text-info
						span.fa.fa-twitter
						|  Twitter
					if user.twitter.id
						p.break
							strong Tid
							|: #{user.twitter.id}
						p.break
							strong Ttoken
							|: #{user.twitter.token}
						p.break
							strong Tusername
							|: #{user.twitter.username}
						p.break
							strong TdisplayName
							|: #{user.twitter.displayName}
						p.break
							a.btn.btn-info(href="/unlink/twitter") Unlink
					else
						p.break You should connect your Twitter account.
						p.break
							a.btn.btn-info(href="/connect/twitter") Connect Twitter
			.col-sm-6
				.well
					h3.text-danger
						span.fa.fa-google
						|  Google+
					if user.google.id
						p.break
							strong Gid
							|: #{user.google.id}
						p.break
							strong Gtoken
							|: #{user.google.token}
						p.break
							strong Gemail
							|: #{user.google.email}
						p.break
							strong Gname
							|: #{user.google.name}
						p.break
							a.btn.btn-danger(href="/unlink/google") Unlink
					else
						p.break You should connect your Google account.
						p.break
							a.btn.btn-danger(href="/connect/google") Connect Google+